@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Noto+Sans+KR&family=Noto+Sans:ital,wght@1,500;1,900&display=swap');body{
    /*font-family: 'Fira Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */
    background-color: #222222 ;
}

/*헤더*/
.header{
    /* position: relative; */
    width: 100%;
    height: 720px;
    margin-top: -300px;
    background-image: url(images/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.tit-header{
    position: relative;
    text-align: center;
    top: 600px;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    z-index: 10;
}
.tit-header h1{
    letter-spacing : 9px; 
    font-size: 32px;
}
.tit-header h2{
    padding-bottom: 20px;
}

.tit-header::after{
    display: block;
    content: '';
    position: absolute;
    top: 50px;
    left: -165px;
    right: 0;
    margin-left: 50%;
    width: 330px;
    height: 6px;
    background-color: #25559c;
    z-index: -5;

}

/*메인*/
.history-wrap{
    position: relative;
    width: 1060px;
    margin: 100px auto;
}


.history-wrap::after{
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 100%;
    top:0;
    left: 50%;
    right: 50%;
    margin-top: 11%;
    background-color: #1c90ff;
}

.history-wrap .history{
    position: relative;
    margin-top: -3%;
    width: 500px;
    border-radius: 20px;
    background-color: #111111;
}
.history-wrap .history:nth-child(odd){
    margin-right: 50%; 
}
.history-wrap .history:nth-child(even){
    margin-left: 53%;
    
}

.history-wrap .history:nth-child(odd)::after{
content: '';
position: absolute;
border-style: solid;
border-width: 14px 0 14px 15px;
border-color: transparent #111111;
display: block;
right: -15px;
top: 50%;
}

.history-wrap .history:nth-child(odd)::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #222222;
    outline: 3px solid #1c90ff;
    display: block;
    right: -38px;
    top: 54%;
    z-index: 10;
    }

.history-wrap .history:nth-child(even):after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 14px 15px 14px 0;
    border-color: transparent #111111;
    display: block;
    left: -15px;
    top: 50%;
    }

.history-wrap .history:nth-child(even):before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #222222;
    outline: 3px solid #1c90ff;
    display: block;
    left: -34px;
    top: 54%;
    z-index: 10;
    }


.history img{
    width: 100px;
    margin-top: -40px;
}
.history  .img-left{
    margin-left: 30px;
}
.history  .img-right{
    margin-left: 370px;
}

.year{
    font-family: 'Noto Sans', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color:#1c90ff;
}
.year-right {
    margin-top: -30px;
    text-align: left;
    padding-left: 30px;
}
.year-left{
    margin-top: -30px;
    text-align: right;
    padding-right: 30px;
}
.ver{
    color: white;
    padding-bottom: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.ver-left{
    margin-top: 5px;
    text-align: right;
    padding-right: 30px;
}
.ver-right{
    margin-top: 5px;
    text-align: left;
    padding-left: 30px;
}

.box-detail{
    width: 400px;
    border-radius: 20px 20px 0 0;
    margin: 0 auto;
    padding: 5% 0 5% 5%;
    background-color: #000;
    
}

.box-detail li{
    padding-bottom: 8px;
    color: #4a4a4a;
    font-family: 'Noto Sans kr', sans-serif;
    font-weight: 400;
    font-size: 12px;
}


@media screen and (max-width:1020px) { 
    
    .history-wrap{
        width: 500px;
    }
    
    
    .history-wrap::after{
        /* display: none;/ */
        margin-top: 40%;
        z-index: -10;
    }
    
    .history-wrap .history{
        margin-bottom: 30%;
    }
    .history-wrap .history:nth-child(odd){
        margin-right: 0%; 
    }
    .history-wrap .history:nth-child(even){
        margin-left: 0%;
        
    }
    .history-wrap .history:nth-child(odd)::before{
        display: none;
    }
    
    .history-wrap .history:nth-child(even):before{
        display: none;
    }

    .history-wrap .history:nth-child(even):after{
        display: none;
    }
    .history-wrap .history:nth-child(odd)::after{
        display: none;
    }
}